* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
  }
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 10px;
}

.container{
    max-width: 920px;
    width: 100%;
    margin: auto;
    /*border: 3px solid;*/
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* Colon calc */

.col-1-6{
    width: calc( 100% / 6);
}

.col-2-6{
    width: calc( 100% / 6 * 2);
}

.col-4-6{
    width: calc( 100% / 6 * 4);
}

.row > *{
    float: left;
}

/*Nav bar style*/

nav a img{
    display: inline-block;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    padding-top: 5px;
}

ul{
    text-align: center;
}

.link-decoration{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

.nav_-button_-container{
    text-align: right;
    display: inline-block;
    text-align: right;
    margin-top: 5px;
}

.nav-button{
    color: black;
    background-color: white;
    padding: 11px;
    border-radius: 25px;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
}

.hero-container{
    margin-left: calc(100% / 6);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.hero-text-title{
    font-size: 50px;
    color: white;
    padding-bottom: 30px;
}

.hero-text{
    color: white;
    font-size: 20px;
}

.bt-hero{
    display: inline-block;
    align-items: center;
    margin-top: 20px;
}

.section-button{
    display: inline-block;
    background-color: white;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    
}

.bt-black{
    background-color:rgba(35,39,42,255);
    color: white;
}